<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="sigmarootpi">


    <!-- Open Graph -->
    <meta property="og:title" content="{{ title }}">
    <meta property="og:image" content="{{ cover | url }}">
    <meta property="og:url" content="{{ page.url | url }}">

    <!-- Twitter -->
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:image" content="{{ cover | url }}">

    <!-- Adding github for IndieAuth -->
    <link rel="me" href="https://github.com/rishabhstein">

    <!-- Le styles -->
    <link rel="stylesheet" href="/assets/css/style.css?v=2.0">
    <link rel="stylesheet" href="/assets/css/mastodon.css?v=2.0">

    <!-- Fav and touch icons -->
    <link rel="icon" type="image/png" href="/assets/logo.png">

    <link rel="alternate" type="application/rss+xml" title="Rishabh's Blog Feed" href="/feed.xml" />
    <script src="/assets/js/sidebar.js" defer></script>
    <audio id="sidebar-music" src="/assets/sounds/blog_background.mp3" preload="auto" loop></audio>

</head>
<body>

    {% include 'header.njk' %}
    <main>
    <button class="toggle-sidebar">🎶 Live Feed</button>
    <div class="layout-wrapper">
    <div class="main-content">

      {{ content | safe }}

    </div> <!--main content end-->

    <div class="right-column"> 
      <!-- Right Sidebar Column -->  
      <h3><img src="/assets/icons/fb-announce.png" class="icon-emoji"> Status </h3>
      <div class="section">
      <section class="livestatus"> 
          <div id="statuscafe">
            <div id="statuscafe-username"></div>
            <div id="statuscafe-content"></div>
          </div>
          <script src="https://status.cafe/current-status.js?name=sigmarootpi" defer></script>
        </section>
        </div>

  <h3><img src="/assets/icons/fb-wall.png" class="icon-emoji"> Mini-feed<a href="/src/microfeed.njk"><img src="/assets/icons/click.png" class="icon-emoji"></a></h3>
        <div class="section">
            <div id="mt-container" class="mt-container">
              <div class="mt-body" role="feed">
                <div class="mt-loading-spinner"></div>
              </div>
            </div>
        </div>

    </div>

    <div class="overlay"></div>

    </div> <!-- layout-wrapper end -->
    </main>
    
    {% include 'footer.njk' %}


    <!-- For Mastodon Feed -->
    <script src="/assets/js/mastodon.js"></script>
    <script>
        const myTimeline = new MastodonTimeline.Init({
          instanceUrl: "https://mastodon.social",
          timelineType: "profile",
          userId: "115311770892730280",
          profileName: "@sigmarootpi",
          maxNbPostShow: "4",
          txtMaxLines: "3",
        });
      </script>


  
</body>
</html>