<ul class="portal-list blogroll-list">
  {% for link in blogroll | shuffle %}
  {% if loop.index <= 19 %}
  <li><a href="{{ link.url }}" target="_blank" rel="noopener noreferrer">{{ link.label }}</a></li>
  {% endif %}
  {% endfor %}
  <li><a href="/pages/blogroll/"><strong>More...</strong></a></li>
</ul>
