<ul class="portal-list blogroll-list">
  <li><a href="https://indieblog.page/">Indie.blog</a></li>
  <li><a href="https://bearblog.dev/discover/">Bearblog</a></li>
  <li><a href="https://anniemueller.com/">annie's blog</a></li>
  <li><a href="https://blog.avas.space/">ava's blog</a></li>
  <li><a href="https://manuelmoreale.com/">Manuel Moreale</a></li>
  <li><a href="https://louplummer.lol/">Living Out Loud</a></li>
  <li><a href="https://appaddict.app/">AppAddict</a></li>
  <li><a href="https://bacardi55.io/posts/">Bacardi55's Web Cave</a></li>
  <li><a href="https://blogroll.club/">Blogroll.Club</a></li>
  <li><a href="https://www.coryd.dev/feeds/posts.xml">Cory Dransfeldt</a></li>
  <li><a href="https://hacdias.com/">Henrique Dias</a></li>
  <li><a href="https://ldstephens.net/">ldstephens</a></li>
  <li><a href="https://meadow.cafe/">Meadow</a></li>
  <li><a href="http://bactra.org/notebooks">Notebooks</a></li>
  <li><a href="https://thejollyteapot.com/">The Jolly Teapot</a></li>
  <li><a href="http://bactra.org/weblog/">Three-Toed Sloth</a></li>
  <li><a href="https://contino.com/">Andreas Contino</a></li>
  <li><a href="https://cliophate.wtf/">cliophate.wtf — Notes</a></li>
  <li><a href="https://olivergilan.com/blog/">Olivier Gilan</a></li>
  <li><a href="/garden/blogroll/"><strong>More...</strong></a></li>
</ul>
