     
		<div class="book-entry">
		  	<a href="{{ book.url }}">
				<img src="{{ book.data.cover }}" alt="{{ book.title }}">
			</a>
<!-- {% set progress = (book.data.current_page / book.data.total_pages * 100) | round(0, 'floor') %} -->
		</div>
