<!-- Adding Christmas Theme  -->
<div>
  <ul class="strand">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
</div>

    <!-- Its Christmas time -->
<div id="snow-zone">
  <span class="snow-particle" style="--x:5vw; --size:6px; --duration:6s; --delay:0s;"></span>
  <span class="snow-particle" style="--x:15vw; --size:8px; --duration:7s; --delay:0.5s;"></span>
  <span class="snow-particle" style="--x:25vw; --size:7px; --duration:5.5s; --delay:5s;"></span>
  <span class="snow-particle" style="--x:35vw; --size:9px; --duration:6.5s; --delay:3s;"></span>
  <span class="snow-particle" style="--x:45vw; --size:8px; --duration:7.5s; --delay:0.8s;"></span>
  <span class="snow-particle" style="--x:55vw; --size:6px; --duration:6s; --delay:2s;"></span>
  <span class="snow-particle" style="--x:65vw; --size:9px; --duration:7s; --delay:3s;"></span>
  <span class="snow-particle" style="--x:75vw; --size:7px; --duration:5.8s; --delay:10s;"></span>
  <span class="snow-particle" style="--x:85vw; --size:8px; --duration:6.5s; --delay:7s;"></span>
  <span class="snow-particle" style="--x:95vw; --size:9px; --duration:7.2s; --delay:0.9s;"></span>
</div>
<!-- ## End of Christmas Theme# -->
