<h3><a href="/fantastic-web/">Fantastic Web</a></h3>
<ul class="portal-list">
  {% for link in fantasticWeb | shuffle %}
  {% if loop.index <= 5 %}
  <li>
    <a href="{{ link.url }}" target="_blank" rel="noopener noreferrer">{{ link.label }}</a>
  </li>
  {% endif %}
  {% endfor %}
</ul>
