<footer align="center">   
  <hr>

  <!-- <div class="container container-m footer-buttons">
        <div><a href="https://11ty.dev"><img width="88" height="31" src="https://rknight.me/assets/img/buttons/built-with-eleventy.gif" alt="Made with Eleventy"></a></div>
         <div><a href="https://ko-fi.com/s/4662b19f61"><img width="88" height="31" src="https://rknight.me/assets/img/buttons/human.svg" alt="Made by a human"></a></div>
        <div><a href="/subscribe/posts/rss.xml"><img width="88" height="31" src="https://rknight.me/assets/img/buttons/valid-rss.png" alt="Valid RSS"></a></div>
  </div> -->

  <a href="https://xn--sr8hvo.ws/previous">←</a>
An <a href="https://xn--sr8hvo.ws">IndieWeb Webring</a> 🕸💍
<a href="https://xn--sr8hvo.ws/next">→</a> 

<br>
    contact me: sigmarootpi@proton.me

    <br><br><br>
</footer>