<footer align="center">

  <!-- <div class="container container-m footer-buttons">
        <div><a href="https://11ty.dev"><img width="88" height="31" src="https://rknight.me/assets/img/buttons/built-with-eleventy.gif" alt="Made with Eleventy"></a></div>
         <div><a href="https://ko-fi.com/s/4662b19f61"><img width="88" height="31" src="https://rknight.me/assets/img/buttons/human.svg" alt="Made by a human"></a></div>
        <div><a href="/subscribe/posts/rss.xml"><img width="88" height="31" src="https://rknight.me/assets/img/buttons/valid-rss.png" alt="Valid RSS"></a></div>
  </div> -->

<a href="https://xn--sr8hvo.ws/previous">←</a>
<a href="https://xn--sr8hvo.ws">IndieWebRing</a> 🕸💍
<a href="https://xn--sr8hvo.ws/next">→</a>

<br>
<span><a href="/garden/colophon/">Colophon</a> | </span>
<span><a href="/about/">About</a> | </span>
 <span>   <a href="/lifecalendar/">Life Calendar</a> | </span>
 <span>   <a href="/guestbook/">Guestbook</a> | </span>
<span>    <a href="/subscribe/">Subscribe</a>| </span>
<span><a href="/garden/uses/">Uses</a></span>
<br>

    <img src="/assets/icons/Mail1.gif" alt="Mail animation" data-no-image-reveal>
    contact me: hello@sigmarootpi.com

<!-- Not by AI sticker with link -->
<div style="position: center; bottom: 10px; right: 10px;">
  <a target=_blank href=https://indieweb.org/ title=IndieWebCamp>
    <img src=https://perrotta.dev/vendor/indieweb88x31-flat.webp width=88 height=31 alt=IndieWebCamp loading=lazy data-no-image-reveal>
  </a>
  <a href="https://notbyai.fyi" target="_blank" title="Learn more">
    <img src="/assets/icons/Written-By-a-Human-Not-By-AI-Badge-white@2x.png" alt="Not by AI" style="width: 100px; height: auto;" data-no-image-reveal>
  </a>
<a target=_blank href=https://powrss.com/ title=powRSS>
  <img src=https://perrotta.dev/vendor/powrss-88-31.webp width=88 height=31 alt=powRSS loading=lazy data-no-image-reveal>
</a>
<a target=_blank href="https://validator.w3.org/feed/check.cgi?url=https://perrotta.dev/index.xml" title="Valid RSS feed">
  <img src=https://perrotta.dev/vendor/valid-rss-rogers.webp width=88 height=31 alt="Valid RSS feed" loading=lazy data-no-image-reveal>
</a>
</div>

    <br><br><br>
</footer>
