<header class="page-header">
  <a href="{{ site.url }}/" class="h-card" rel="me" style="position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);white-space:nowrap;border:0;">{{ site.name }} (&#963;&#8730;&#960)</a>
   <!-- Mastodon -->
    <a rel="me" href="https://mastodon.social/@sigmarootpi" style="display:none;">Mastodon</a>


  <div class="telegraph-masthead">
    <div class="telegraph-title-row">
      <div class="telegraph-title-block">
        <div class="telegraph-title-inline">
          <h1><a href="/">{{ site.name }}</a></h1>
        </div>
        <p class="telegraph-subline">Online home of Rishabh P. Sharma</p>
      </div>
      <div class="telegraph-search-panel">
        <div id="header-search" class="telegraph-search" data-pagefind-ui></div>
      </div>
    </div>
  </div>

  <div class="telegraph-primary-nav">
    <a href="/">Home</a>
    <a href="/archives/">Writing</a>
    <a href="/books/">Books</a>
    <a href="/movies/">Movies</a>
    <a href="/snap/">Photos</a>
    <a href="https://notes.rishabhps.com">Notebook</a>
    <a href="/pages/">Explore</a>
    <a href="/subscribe/">Subscribe</a>
  </div>
</header>
