<header class="page-header">
  <a href="https://sigmarootpi.com/" class="h-card" rel="me" style="display:none;">Cogito, ergo sum</a>
<body>

<!-- Writing the main heading of my Weblog -->
<div class="jumbotron">
  <h1><a href="/">Cogito, ergo sum</a></h1>
</div>
  
<div class="menu-bar" "align: center">
    <span><a href="/about/"><img src="/assets/icons/fb-info.png" class="icon-emoji"></a> |</span>
    <span><a href="/archives/"><img src="/assets/icons/fb-post.png" class="icon-emoji"></a> |</span>
    <span><a href="/snap/"><img src="/assets/icons/fb-photos.png" class="icon-emoji"></a> |</span>
    <span><a href="/guestbook/"><img src="/assets/icons/fb-request.png" class="icon-emoji"></a> |</span>
    <span><a href="https://notes.sigmarootpi.com"><img src="/assets/icons/fb-notes.png" class="icon-emoji"></a> |</span>
    <span><a href="/explore/"><img src="/assets/icons/fb-friend.png" class="icon-emoji"></a> |</span>
    <span><a href="/search/"><img src="/assets/icons/fb-search.png" class="icon-emoji"></a> |</span>
    <span><a href="/subscribe/"> <img src="/assets/icons/RSSIcon16x16.png" class="icon-emoji"> </a></span>
</div> 

<hr>
</header>