---
    layout: 'base.njk'
---


<article class="main-article">

<h1>{{ title }}</h1>
<h3>{{ page.date | postDate }}</h3>

{% if tags %}
<p>Tags:
  {% for tag in tags %}
    <a href="/tags/{{ tag | slug }}/">#{{ tag }}</a>{% if not loop.last %} {% endif %}
  {% endfor %}
</p>
{% endif %}

<div class="container-narrow">
          <main>
            {{ content | safe }}
        </main>
</div>

<blockquote class = "post-footer">    

    <span>Posted at: {{ page.date | postDate }}</span> <br/>
    <a href='mailto:sigmarootpi@proton.me?subject=Blogentry: {{ title }}'>Reply via email</a><br />
    
</blockquote>
</article>
