---
    layout: 'base.njk'
---


<article class="main-article">

<h1 data-pagefind-meta="title">{{ title }}</h1>
<h3>{{ page.date | postDate }}</h3>

{% if tags %}
<p class="entry-tags">Tags:
  {% for tag in tags %}
    <a href="/tags/{{ tag | slug }}/">#{{ tag }}</a>{% if not loop.last %} {% endif %}
  {% endfor %}
</p>
{% endif %}

{% if tags and "word-vomit" in tags %}
<blockquote>
  <p>This post is a part of my word-vomit series. Feel free to skip it.</p>
</blockquote>
{% endif %}

<div class="container-narrow">
          <main>
            {% set coverUrl = cover | assetUrl %}
            {% if coverUrl and not (coverUrl in content) and not (cover in content) %}
            <figure class="writing-post-cover">
              <img src="{{ coverUrl }}" alt="Cover for {{ title }}">
            </figure>
            {% endif %}

            {{ content | safe }}
        </main>
</div>

{% include "post-footer.njk" %}
</article>
