<h3>Blogroll</h3>
{% include "blogroll-snippet.njk" %}
<p>
  <a href="/guestbook/">
    <img src="https://www.gifs.cc/guestbook/sign-guestbook-animation.gif" alt="Sign my guestbook">
  </a>
</p>

{% postrollItems %}
{% bearblogDiscoveryItems %}
{% include "fantastic-web-snippet.njk" %}
