---
    layout: 'base.njk'
---


<article class="main-article">

<h1 data-pagefind-meta="title">{{ title }}</h1>
<h3>{{ page.date | postDate }}</h3>


<div class="container-narrow">
        <main>

            {% if comment %}
                <p>{{ comment | safe }}</p>
            {% endif %}


            {% if cover %}
            <div class="blog-posts">
                <img src="{{ cover | assetUrl }}" alt="{{ title }}">
            </div>
            {% endif %}
            {{ content | safe }}
        </main>
</div>

{% include "post-footer.njk" %}
</article>
