---
layout: 'base.njk'
---

<section class="h-feed">
  <header>
    <h1 class="p-name">Cogito, ergo sum</h1>
    <img src="/assets/logo.png" alt="Rishabh's Photo" class="profile-photo">
  </header>

  {% set latestPost = collections.post | reverse | first %}
  {% if latestPost %}
  <article class="h-entry">
    <a href="{{ latestPost.url }}" class="u-url p-name">{{ latestPost.data.title }}</a>
    <time class="dt-published" datetime="{{ latestPost.date | isoDate }}">{{ latestPost.date | postDate }}</time>
    <div class="e-content">
      {{ latestPost.content | safe }}
    </div>
  </article>
  {% endif %}
</section>
