---
layout: 'base.njk'
title: About me
---

<p>
Welcome to my page. I am a Ph.D. student of <a href="https://fuw.edu.pl">Physics</a> in <a href ="https://en.uw.edu.pl">University of Warsaw</a>. My PhD thesis is about pattern formation in dissolving rocks. In my PhD, I have developed theoretical and computational models to study the physics of <a href="https://sigmarootpi.com/mydata/disspattern.jpg">dissolution patterns</a> with particular interest in self-organization of reactive flows in dissolving medium. In addition, I have integrated the developed models with experimental data&mdash;in the form of 4D X-ray imaging&mdash;obtained from laboratory experiments to study the numerical erosion of reconstructed pore-space of a rock sample.
</p>

<head>
        <style>
        ul li {
          text-align: left;
          direction: ltl;
        }

        div.mainpagebox {
          display: flex;
          align-items: center;
        }
        div.mainpagebox 
          .element {
          padding: 20px;
          width: 100%;
        }
         .element img {
          max-height: auto;
          width: 100%;
          object-fit: contain;
          border-radius: 10%;
        }
        </style>

</head>

<body>      

  <div class="mainpagebox">
        <div class="element">
        <img src="/assets/mydata/me.jpeg"
          alt="me" />
       </div>

       <div class="element"> <ul>
          <li><a href="/publications/">Publications</a></li>
          <li><a href="https://www.fuw.edu.pl/~piotrek/group.html">Research group</a></li>
          <li><a href="/assets/mydata/rps_Academic_CV.pdf">CV</a></li>
          <li><a href="mailto: rsharma@fuw.edu.pl">Email</a>
        </ul>
       </div>
</div>
<hr
</body>

<!-- UPDATE -->
<!-- <center>
    <b style="color: rgb(128,0,0); font-size: 18px;">UPDATE: I am looking for a Post-Doc position </b><br>
    <i style="color: rgb(128,0,0);">related to pattern forming processes in soft and active matter physics</i>

</center> -->


<h2>Research Interests</h2>
<p>
    I am very much interested in interdisciplinary research especially those combining physics with other fields. Accordingly, my previous research experiences are in different fields such as my master thesis in developing numerical methods for solving flow equations in complex geometries, and the research positions: one focused to study particulate flows where I was developing a multiphase computational model by coupling flow-physics with solid particles; the second project I was developing models using non-linear Westervelt equation to study thermal response of tissues when subjected to high intensity focused ultrasound. My current research is at the interface of flow-physics and geosciences where I investigate the pattern forming processes in geology.

    <br><br>

    During my PhD, I gained exposure to a wide range of pattern-forming processes, with examples ranging from biology to geology, which I found incredibly exciting. I have published three peer-reviewed articles on dissolution patterns, with two more currently in preparation. As I am near the completion of my thesis, I am looking forward to work on some exciting research problems where I can apply my strong background in modeling and image-analysis methods.




</p>
<hr>
</body>
    <h2>Research Projects</h2>
        <a href="https://doi.org/10.1016/j.advwatres.2023.104407">
        <img 
        style='height: auto; width: 45%; object-fit: contain'
          src="/assets/mydata/Fig1_PZ103bPressureTip.jpg"
          alt=""
          title="4D tomography reveals a complex relationship between wormhole advancement and permeability variation in dissolving rocks"/></a>

          <a href="https://doi.org/10.1029/2023GL105183">
          <img 
          style='height: auto; width: 45%; object-fit: contain'
          src="/assets/mydata/phasedia_figure.jpg"
          alt=""
          title="Pore merging and flow focusing: Comparative study of undissolved and karstified limestone based on microtomography"/></a>

        <a href="https://doi.org/10.1016/j.chemgeo.2023.121397">
        <img 
        style='height: auto; width: 45%; object-fit: contain'
            src= "/assets/mydata/flinn_plot.jpg"
            alt=""
            title="Effects of Mixing at Pore Intersections on Large-Scale Dissolution Patterns and Solute Transport"/>
          </a>


          <a href="https://doi.org/10.1029/2023GL105183">
          <img 
          style='height: auto; width: 40%; object-fit: contain'
          src="/assets/mydata/nodalmethod.png"
          alt=""
          title="Nodal integral method for convection-diffusion transport using linear and higher order quadrilateral elements"/></a>
</div> 
   
</body>
</html>
</div>