---
layout: 'base.njk'
title: About me
---

    <p>
      If you have came so far by putting some effort to get to know about me, I should reveal myself.
      I am an ancient philosopher in the body of a physicist. Do not ask my age, otherwise you will run
      away out of fear.
    </p>

    <p>
      I got enrolled in 2020 in a weird educational degree called <strong>PhD</strong>.
      I <del>am still trying to finish</del> finished it in 2025 by writing a crazy book, called <em>thesis</em>.
      You can ask for my professional webpage if you want to be bored, or you can get my wisdom from this blog
      where I share personal experiences. You can check my data hoarding habits in my
      <a href="https://notes.sigmarootpi.com">Garden</a>.
    </p>

    <p>
      After spending so many years on earth, I also have learnt that there are other things to do in my free time.
      So I read books, write blogs about my wisdom, capture moments in photos to keep track of changes in world,
      and go for running as I can not hunt anymore.
    </p>

    <p>
      In case you decide to write to me, feel free to drop an
      <a href="mailto:sigmarootpi@proton.me">email</a>.
    </p>