---
layout: 'base.njk'
title: About me
---

<h4> {{ title }} </h4>

<p>
Welcome web dweller. I am Rishabh, and you have entered in my online home. Here I keep a record of thoughts and my online activities. From <a href="https://blog.rishabhps.com/pages/blogroll/">websites or blogs</a> I regular visit, to <a href="https://blog.rishabhps.com/movies/">movies</a> I watch, to <a href="https://blog.rishabhps.com/books/">books</a> I read, almost everything is here. You are welcome to explore them.
</p>

<p>
There are few easter eggs hidden, you can look for them. But do not forget to <a href="https://blog.rishabhps.com/guestbook/">sign my guestbook</a>. I will be grateful if you do it.
</p>
