---
layout: 'base.njk'
title: Archives
---

<div data-pagefind-ignore>
  <h4>Archived Posts</h4>

  <p>Filter them with:
  <a href="/tags/">tags</a>
  </p>

  {% set currentYear = collections.postArchiveYears | first %}
  <p class="archive-years">
    Years:
    {% for year in collections.postArchiveYears %}
      <a href="/archives/{{ year }}/">{{ year }}</a>{% if not loop.last %} | {% endif %}
    {% endfor %}
  </p>

  <h4>{{ currentYear }}</h4>

  {% set currentYearPosts = collections.postArchive | itemsForYear(currentYear) %}
  <ul class="entry-list">
    {% for post in currentYearPosts %}
      {% if loop.index <= 15 %}
      <li class="entry-item{% if post.data.highlight %} writing-highlight{% endif %}">
        <a href="{{ post.url }}" class="entry-title">{{ post.data.title }}</a>
        <span class="entry-meta">
          {% for tag in post.data.tags %}{% if tag != "post" %}<a href="/tags/{{ tag | slug }}/">#{{ tag }}</a>{% endif %}{% endfor %}
          <span class="entry-sep">|</span>
          <time datetime="{{ post.date | isoDate }}">{{ post.date | postDate }}</time>
        </span>
      </li>
      {% endif %}
    {% endfor %}
  </ul>

  {% if currentYearPosts.length > 25 %}
  <nav class="archive-pagination" aria-label="Archive pages">
    <a href="/archives/{{ currentYear }}/page/2/">Older posts from {{ currentYear }} &rarr;</a>
  </nav>
  {% endif %}
</div>
