---
    title: Book Reviews
    layout: 'base.njk'
---

<h4>{{ title }}</h4>

<section class="book-section">
    {% for book in collections.books %}
            <div class="book-entry">
                <a href= "{{ book.url }}">
                <img src="{{ book.data.cover }}" alt="{{ book.title }}">
                </a>
            </div>
    {% endfor %}
</section>
