---
title: Fantastic Web
layout: 'base.njk'
pageClass: fantastic-web-page
---

<p>
A small collection of delightful corners of the internet worth wandering into.
</p>

<ul>
  <li><a href ="https://letterboxd.com/" target="_blank" rel="noopener noreferrer">Goodreads of Movies</a></li>
  <li><a href ="https://everynoise.com/" target="_blank" rel="noopener noreferrer">Every Noise At Once</a></li>
  <li><a href="https://neal.fun/" target="_blank" rel="noopener noreferrer">Neal.fun</a></li>
  <li><a href="https://radio.garden/" target="_blank" rel="noopener noreferrer">Radio Garden</a></li>
  <li><a href="https://pointerpointer.com/" target="_blank" rel="noopener noreferrer">Pointer Pointer</a></li>
  <li><a href="https://www.window-swap.com/" target="_blank" rel="noopener noreferrer">WindowSwap</a></li>
  <li><a href="https://longdogechallenge.com/" target="_blank" rel="noopener noreferrer">Long Doge Challenge</a></li>
  <li><a href="https://zoomquilt.org/" target="_blank" rel="noopener noreferrer">Zoomquilt</a></li>
  <li><a href="https://stars.chromeexperiments.com/" target="_blank" rel="noopener noreferrer">100,000 Stars</a></li>
  <li><a href="https://earth.nullschool.net/" target="_blank" rel="noopener noreferrer">Earth Nullschool</a></li>
  <li><a href="https://quickdraw.withgoogle.com/" target="_blank" rel="noopener noreferrer">Quick, Draw!</a></li>
  <li><a href="https://www.mapcrunch.com/" target="_blank" rel="noopener noreferrer">MapCrunch</a></li>
  <li><a href="https://retro-foundry.github.io/multistuntcar/">Multi StuntCar Game</a></li>
</ul>
