---
title: Fantastic Web
layout: 'base.njk'
pageClass: fantastic-web-page
---

<h4> {{ title }} </h4>

<p>
A small collection of delightful corners of the internet worth wandering into.
</p>

<ul>
  {% for link in fantasticWeb %}
  <li><a href="{{ link.url }}" target="_blank" rel="noopener noreferrer">{{ link.label }}</a></li>
  {% endfor %}
</ul>
