---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:content="http://purl.org/rss/1.0/modules/content/">
  <channel>
    <title>{{ site.name }}</title>
    <link>{{ site.url }}</link>
    <atom:link href="{{ site.url }}/feed.xml" rel="self" type="application/rss+xml" />
    <description>An outdated habbit of spitting my thoughts online</description>
    <language>en</language>
    {%- for post in collections.combinedFeed | reverse | take(10) %}
    {%- set absolutePostUrl = post.url | htmlBaseUrl(site.url) %}
    {%- set feedBody = post.content | renderTransforms(post.data.page, site.url) | rssBlockquoteStyle %}
    {%- set feedFooter = '<p class="post-footer"><hr>
    <span> Do not want to see all posts? Likes writing only? You can subscribe to <a href="https://blog.rishabhps.com/feed/writing.xml/">writing feed.</a></span> <br>
    <a href="mailto:hello@rishabhps.com?subject=' ~ (('Blogentry: ' ~ post.data.title) | urlEncode) ~ '">Reply by email </a> &middot;
    <a href="https://webmention.io/blog.rishabhps.com/webmention"> Send a webmention </a>&middot;
    <a href="https://blog.rishabhps.com/guestbook/"> Sign my Guestbook</a>    
    </p>' %}  
    {%- set wordVomitNote = '<blockquote style="margin:1rem 0;padding:0.9rem 1rem;border-left:5px solid #ffd84d;background:#fff8d6;color:#1b1b1b;font-style:italic"><p>This post is a part of my word-vomit series. Feel free to skip it.</p></blockquote>' %}
    {%- set urlChangeNote = '' %}
    {%- set feedIntro = urlChangeNote %}
    {%- if post.data.tags and "word-vomit" in post.data.tags %}
    {%- set feedIntro = urlChangeNote + wordVomitNote %}
    {%- endif %}
    {%- set feedCover = "" %}
    {%- if post.data.cover %}
    {%- set coverUrl = post.data.cover | htmlBaseUrl(site.url) %}
    {%- if not (coverUrl in feedBody) and not (post.data.cover in feedBody) %}
      {%- set feedCover %}
        <figure class="feed-entry-cover">
          <img src="{{ coverUrl }}" alt="Cover image for {{ post.data.title }}" width="240">
        </figure>
      {%- endset %}
    {%- endif %}
    {%- endif %}
    {%- set feedContent = feedIntro ~ feedCover ~ feedBody ~ feedFooter %}
    <item>
      <title>{{ post.data.title }}</title>
      <link>{{ absolutePostUrl }}</link>
      <description>{{ feedContent | rssCdata | safe }}</description>
      <content:encoded>{{ feedContent | rssCdata | safe }}</content:encoded>
      <pubDate>{{ post.date | dateToRfc822 }}</pubDate>
      <dc:creator>Rishabh</dc:creator>
      <guid>{{ absolutePostUrl }}</guid>
    </item>
    {%- endfor %}
  </channel>
</rss>
