---
title: 'My link garden'
layout: 'base.njk'
---



<p>
Welcome to my graden which is a flourishing space on web with a lot of positive vibes. I first came to know about the idea of digital garden from <a href="https://blog.avas.space">Ava</a> and later after reading about it on <a href="https://indieweb.org">IndieWeb</a>, I made this page. However, this page always existed in one form or another.
</p>
<hr>

<b>Personal</b>
<ul>
    <li><a href="/garden/blogroll/">Blogroll</a></li>
    <li><a href="/garden/colophon/">Colophon</a></li>
    <li><a href="/garden/changelog/">Changelog</a></li>
    <li><a href="/garden/uses/">Uses</a></li>
    <li><a href="/garden/links/">Useful links</a></li>
</ul>

<hr>

<b>Professional</b>
<ul>
    <li><a href="/garden/publications/">Publications</a></li>
    <li><a href="/garden/groups/">Research groups</a></li>
    <li><a href="/garden/people/">People</a></li>
</ul>