---
    title: Movie/Series Reviews
    layout: 'base.njk'
---

<h4>{{ title }}</h4>
<p>The ratings are based on following criteria:</p>
<div>
  <span>5⭐️: </span> Absolutely love it and will watch it many times<br>
  <span>4⭐️: </span> Entertaining movie can be watched again<br>
  <span>3⭐️: </span> One time watch<br>
  <span>2⭐️: </span> I was bored but managed to finish it<br>
  <span>1⭐️: </span> I could not finish it
</div>
<br>

<section class="book-section-grid">
    {% for movie in collections.movies | reverse %}
	   <div class="book-entry-grid">
            <a href= "{{ movie.url }}">
                <img src="{{ movie.data.cover }}" alt="{{ movie.title }}">
            </a>
        </div>
    {% endfor %}
</section>
