---
title: 'Pages'
layout: 'base.njk'
---



<p>
Welcome to my graden which is a flourishing space on web with a lot of positive vibes. I first came to know about the idea of digital garden from <a href="https://blog.avas.space">Ava</a> and later after reading about it on <a href="https://indieweb.org">IndieWeb</a>, I made this page. However, this page always existed in one form or another.
</p>
<hr>

<b>Personal</b>
<ul>
    <li><a href="/pages/blogroll/">Blogroll</a></li>
    <li><a href="/pages/colophon/">Colophon</a></li>
    <li><a href="/pages/changelog/">Changelog</a></li>
    <li><a href="/pages/uses/">Uses</a></li>
    <li><a href="/pages/links/">Useful links</a></li>
    <li><a href="/pages/imdbtop250/">IMDB top 250 movies</a></li>
</ul>

<hr>

<b>Professional</b>
<ul>
    <li><a href="/pages/groups/">Research groups</a></li>
    <li><a href="/pages/people/">People</a></li>
</ul>
