---
title: 'Subscribe'
layout: 'base.njk'
---

<h2> {{ title }} </h2>

<p>
You can subscribe to individual elements of my blog or to <a href="https://subscribeopenly.net/subscribe/?url=https://sigmarootpi.com/feed.xml">everything</a>. In case this fancy clicking links does not work simply copy paste the links to your feed reader.
</p>

<ul>
    <li><a href="https://subscribeopenly.net/subscribe/?url=https://sigmarootpi.com/feed.xml">Writing Posts</a></li>
    <li><a href="https://subscribeopenly.net/subscribe/?url=https://sigmarootpi.com/feed.xml">Photo Posts</a></li>
    <li><a href="https://subscribeopenly.net/subscribe/?url=https://sigmarootpi.com/feed.xml">Book Reviews</a></li>
    <li><a href="https://subscribeopenly.net/subscribe/?url=https://sigmarootpi.com/feed.xml">Movie Reviews</a></li>
    <li><a href="https://subscribeopenly.net/subscribe/?url=https://sigmarootpi.com/feed.xml">Notebooks</a></li>
</ul>